<%= form_for @comment, html: { class: 'form-horizontal'} do |f| %>
<div class='container-fluid'>
  <article class='box box-success'>
    <br>
    <div class='form-group'>
      <div class='row'>
        <div class='col-md-2'>
          <%= f.label :description, 'Descripcion' %>
          <strong>*</strong>
        </div>
        <div class='col-md-4'>
          <div class='input-group'>
            <%= f.text_area :body, rows: 15, cols: 50 %>
          </div>
        </div>
      </div>
  </article>
  <div class='row'>
    <div class='col-md-4'>
      <%= link_to 'Volver', requirements_path, {class:'btn btn-primary'} %>
      <%= f.submit 'Guardar', class: 'btn btn-success ' %>
    </div>
  </div>
</div>
</div>
<% end %>

<%= tinymce %>
