<section class='content'>
    <article class='box box-primary'>
        <div class='box-header'>
        <h1 class='box-title'>  <strong>Editar Comentario</strong> </h1>
        </div>
        <section class='box-body'>
          <%= render 'form', cached: true %>
        </section>
    </article>
</section>
