<%= form_for(:requirement, url: requirements_filter_path, remote: :true ) do |f| %>
<div class='container-fluid'>
  <br>
  <div class='row'>
        <div class='col-sm-6'>
          <%= f.label :by_vigency, 'Ordenar por:' %>
          <%= f.select(:by_vigency,['Puntaje', 'Alfabetico'],
                { include_blank: ''}, { class: 'form-control' }) %>
        <br>
        <div class='col-md-12'>
          <%= f.submit 'Ordenar', class: 'btn btn-success btn-md pull-right',
                style: 'width:115px;',data: {disable_with: 'Espere...'} %>
        </div>
      </div>
      </div>
    <% end %>
  </div>
