<div id="filterrific_results_requirements">
  <div class='row'>
    <div class='col-md-12'>
      <table class='table table-bordered table-hover dataTable'>
        <thead>
          <tr role='row'>
            <th style="color:#3c8dbc;">Titulo</th>
            <th style="color:#3c8dbc;">Descripción</th>
            <th style="color:#3c8dbc;">Fecha Creación</th>
            <th style="color:#3c8dbc;">Cantidad Votos</th>
            <th style="color:#3c8dbc;">Comentarios</th>
            <th style="color:#3c8dbc;">Votar</th>
            <th style="color:#3c8dbc;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aca deberia agregar un decorator, para dejar mas prolija la vista, pero no llegué con el tiempo para entregarlo mas prolijo -->
          <% @requirements.each do |requirement| %>
            <tr>
              <td><%= requirement.title %>
              </td>
              <td><%= requirement.description.html_safe %>
              </td>
              <td><%= requirement.created_at.to_date %>
              </td>
              <td><%= requirement.score %></td>
              <td>
                <%= link_to 'Crear Comentario', new_comment_requirement_path(requirement), class: 'btn btn-primary btn-xs'%>
                <% requirement.comments.each do |comment| %>
                  <%= render( partial: 'requirements/modal_comments', locals: { comment: comment} ) %>
                <% end %>
              </td>
              <td>
                <%= button_to '+1', vote_requirement_path(requirement), params: { user_id: @current_user.id, vote_type: 1}, class: 'btn btn-success btn-xs' %>
                <%= button_to '-1', down_vote_requirement_path(requirement), params: { user_id: @current_user.id, vote_type: 0}, class: 'btn btn-danger btn-xs' %>
              </td>
              <td>
                <%= link_to 'Editar', edit_requirement_path(requirement), class: 'btn btn-primary btn-xs' %>
                <%= link_to 'Eliminar', requirement_path(requirement), class: 'btn btn-danger btn-xs', method: :delete, data: {confirm:'¿Estas seguro que deseas eliminar este requerimiento'}%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='col-md-6'>
      <button class='btn btn-primary btn-sm' onclick='topFunction()' id='myBtn'>
        Volver arriba!</button>
      <div class='container-fluid'></div>
    </div>
  </div>
</div>
