<button type='button'  style='width:40px;'  class='btn btn-info btn-xs' data-toggle='popover'
data-content='<%="#{comment.body}"%>'>Leer</button>
 <!-- Modal -->
<script type="text/javascript">
 $(document).ready(function() {
  $('[data-toggle="popover"]').popover({
     placement: 'top',
     trigger: 'hover'
  });
 });
</script>
