<div class='container-fluid'>
  <div class='bg bg-info'>
    <strong><h3>Listado Requerimientos</h3></strong>
    <%= render( partial: 'requirements/filter', locals: { requirements: @requirements }, cached: true ) %>
  </div>
  <div class='col-md-6'>
    <%= link_to 'Crear Requerimiento',new_requirement_path, class: 'btn btn-primary btn-md' %>
  </div>
  <br>
  <br>
  <div class='col-md-12'>
    <br>
    <div class='bg bg-info'>
      <%= render( partial: 'requirements/list', locals: { requirements: @requirements }, cached: true ) %>
    </div>
  </div>
</div>
