#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: -1200px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}
