<nav class='navbar navbar-inverse bg bg-info'>
<div class='container-fluid'>
  <a class='navbar-brand btn btn-danger' href='https://www.rankmi.com/'>Go To Rankmi !</a>
    <form class='form-inline'>
        <a class='navbar-brand btn btn-danger pull-right'  href='/logout' role='button'>
        Salir
        </a>
    </form>
  </div>
</nav>
