<!DOCTYPE html>
<html>
  <head>
    <title>RankmiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <%= render 'application/navbar', cached: true %>
    <%= yield %>
    <section class='snackbar-container2'>
      <%= flash_messages if flash %>
    </section>
  </body>
</html>
